<h3>Write new text:</h3>

<form action="/new" method="POST">
	<p><label for="post_title">Title:</label></p>
	<p><input type="text" name="post_title"></p>

	<p><label for="post_bogy">Content:</label></p>
	<p><textarea name="post_body" cols="80" rows="10"></textarea></p>

	<p><input type="submit" value="Save post"></p>
</form>